# JWT Secret Key used for signing and verifying JSON Web Tokens
JWT_SECRET=

# MongoDB connection string for connecting to the database
MONGODB_URL="mongodb+srv://arpity665_db_user:VMhoeBF16uyMMVcN@cluster0.dl5tjnk.mongodb.net/studyIndia"

# Hostname of the mail server used for sending emails
MAIL_HOST=

# Username of the email account used for sending emails
MAIL_USER=

# Password of the email account used for sending emails
MAIL_PASS=


mongodb+srv://arpity665_db_user:VMhoeBF16uyMMVcN@cluster0.dl5tjnk.mongodb.net/studyindia